<%- include("header") -%>

    <!-- <%= %> is marker for EJS -->
    <div  class="box" id="heading">
    <h1>It's <%=dayType%>!</h1>
    <% if (dayType === 'Thursday'){ %>
        <h1 style="color: purple">ToDo List</h1>
    <% } else { %>
        <h1 style="color: blue">ToDo List</h1>
    <% } %>
    </div>

    <div class="box">
    
        <!-- <% for (var i=0; i<newListItems.length; i++) { %>-->
            <!-- <div class="item">
                <input type="checkbox">
                <p><%=newListItems[i].name %></p>  
            </div> -->
        <!-- <% } %> -->

        <!-- newer javascript version of iterating through arrays. using the foreach function on an array -->
        <% newListItems.forEach(function(item){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <!-- use EJS for the value item being passed to the checkbox. use the mongoDB ID -->
                    <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
                    <p><%=item.name %></p>  
                </div>
            </form>
        <% }) %>
    
        <form class="item" action="/" method="post">
            <!-- autocomplete removes the word suggestion when clicking in the input box -->
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%=dayType%>>+</button>
        </form>
    </div>



    <%- include("footer") -%>